h5{
    font-size: 50 px;
    color: Gray;
    
    }
    

  button{
   background: rgb(5, 26, 73);
   color:ghostwhite;
   width: 120px;
   height :40px;
   
    }

    div{
       background-color:aqua;
        }

        body{
            font-family: 'Barlow', sans-serif;
             }

            #img{
             width:300px;
             height: 200px;
               }

               a{
                font-family: 'Barlow', sans-serif;
                 }

                 img{
                  width:200px;
                  height: 200px;
                 }
                 h1{
                 font-weight: 5000;
                 }

                 



        
       
        
    
   
       
        
     
         
             
   